<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue.js - Guia Completo</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <h1>Tarefas: </h1>
        <ul>
            <li v-for="tarefa in tarefas" :key="tarefa.id" v-if="!tarefa.completa">{{ tarefa.titulo }}</li>
        </ul>

        <h1>Tarefas a fazer: </h1>
        <ul v-if="tarefasIncompletas.length">
            <li v-for="tarefa in tarefasIncompletas" :key="tarefa.id">{{ tarefa.titulo }}</li>
        </ul>
        <p v-else>Não há tarefas a fazer!</p>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                tarefas: [
                    { id: 1, titulo: 'Aprender JavaScript', completa: true },
                    { id: 2, titulo: 'Aprender Vue.js', completa: false },
                    { id: 3, titulo: 'Aprender Vuex', completa: false },
                    { id: 4, titulo: 'Aprender VueRouter', completa: false }
                ]
            },
            computed: {
                tarefasIncompletas: function() {
                    return this.tarefas.filter((tarefa) => {
                        return !tarefa.completa;
                    });
                }
            }
        });
    </script>
</body>
</html>